<div  class="container">
  <div class="wrapper animated bounceInLeft">
    
    <div class="product-form">
      <h3> ADD A PRODUCT</h3>
      <form [formGroup]="SelectForm">
        <p>
          <label>Select a Category</label>
          <select name="categorieSelect" formControlName="categorieSelect">
            <option *ngFor="let cat of Categories" [ngValue]="cat.name">
              {{cat.name}}
          </option>
          </select>
        </p> 
        <p class="full">
          <button (click)="CatchCategory()" class="btn green">Confirm</button>
        </p>
      </form>
      </div>
    </div>
</div>
      
          
    <div  *ngIf="active"  class="container">
        <div class="wrapper animated bounceInLeft">
          
          <div class="product-form">
            <h3> ADD A PRODUCT</h3>
            <form [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
              <p>
                <label>Product Name</label>
                <input type="text" name="name" formControlName="name" placeholder="exemple : Eau de Parfum L'interdit de Gevenchy 100 ml">
              </p>
              <p>
                <label>Product Brand</label>
                <input type="text" name="brand" formControlName="brand" placeholder="exemple : Givenchy">
              </p> 
              <p>
                <label>Product Code</label>
                <input type="text" name="productCode" formControlName="productCode" placeholder="exemple : 12X6YU19Z">
              </p>

              <p>
                <label>Model</label>
                <input type="text" name="model" formControlName="model" placeholder="exemple : Eau de Parfum , L'interdit , 100ml">
              </p>


              <p>
                <label>Price</label>
                <input type="number" name="price" formControlName="price" placeholder="en TTC">
              </p>
  
              <p>
                  <label>Quantity</label>
                  <input type="number" name="qte" formControlName="quantity">
              </p>
  
              <p class="full">
                <button type="submit" class="btn green">Add</button>
              </p>
            </form>
          </div>
        </div>
      </div>