
    <div class="container">
        <div class="wrapper animated bounceInLeft">
          
          <div class="product-form">
            <h3> UPDATE A PRODUCT</h3>
            <form [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
              <p>
                <label>Product Name</label>
                <input type="text" name="name" formControlName="name">
              </p>
              <p>
                <label>Product Brand</label>
                <input type="text" name="brand" formControlName="brand">
              </p> 
              <p>
                <label>Product Code</label>
                <input type="text" name="productCode" formControlName="productCode">
              </p>
              <p>
                  <label>Category</label>
                  <select name="category" >
                      
                    </select>
                </p>
              <p>
                <label>Price</label>
                <input type="number" name="price" formControlName="price">
              </p>
  
              <p>
                  <label>Quantity</label>
                  <input type="number" name="qte" formControlName="quantity">
              </p>
  
              <p class="full">
                <button type="submit" class="btn green">Update</button>
              </p>
            </form>
          </div>
        </div>
      </div>
