
    <div class="container">
        <div class="wrapper animated bounceInLeft">
          
          <div class="product-form">
            <h3> ADD A PRODUCT</h3>
            <form [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
              <p>
                <label>Product Name</label>
                <input type="text" name="name" formControlName="name">
              </p>
              <p>
                <label>Product Brand</label>
                <input type="text" name="brand" formControlName="brand">
              </p> 
              <p>
                <label>Product Code</label>
                <input type="text" name="productCode" formControlName="productCode">
              </p>
              <p>
                  <label>Category</label>
                  <select name="category" >
                      <optGroup label="Maquillage">
                        <option *ngFor="let maq of Maquillage" [ngValue]="maq.category">
                            {{maq.name}}
                        </option>
                      </optGroup>
                      <optGroup label="Parfums">
                        <option *ngFor="let p of Parfums" [ngValue]="p.category">
                            {{p.name}}
                        </option>
                      </optGroup>
                      <optGroup label="Produits Cosmétiques">
                        <option *ngFor="let pc of ProduitCosmetiques" [ngValue]="pc.category">
                            {{pc.name}}
                        </option>
                      </optGroup>
                      <optGroup label="Produits d'hygiène">
                        <option *ngFor="let ph of ProduitHygiene" [ngValue]="ph.category">
                            {{ph.name}}
                        </option>
                      </optGroup>
                    </select>
                </p>
              <p>
                <label>Price</label>
                <input type="number" name="price" formControlName="price">
              </p>
  
              <p>
                  <label>Quantity</label>
                  <input type="number" name="qte" formControlName="quantity">
              </p>
  
              <p class="full">
                <button type="submit" class="btn green">Update</button>
              </p>
            </form>
          </div>
        </div>
      </div>
