<div class="container">
    <div class="product">
        <div class="category">
            <h6>Catégorie</h6> 
            <h3>Parfum</h3>
            <a href="#">12X6YU19Z</a>
        </div>
        <div class="info">
            <div class="wrapper">
                <div class="progress">

                </div>
                <span class="quantity">
                    100
                </span>
                <h6>Givenchy</h6>
                <h3>Eau de Parfum, L’interdit, 100 ml</h3>
                <button class="btn red">Retirer</button>
                <button class="btn green">Modifier</button>
            </div>
        </div>
    </div> 

    <div class="product">
        <div class="category">
            <h6>Catégorie</h6> 
            <h3>Parfum</h3>
            <a href="#">12X6YU19Z</a>
        </div>
        <div class="info">
            <div class="wrapper">
                <div class="progress">

                </div>
                <span class="quantity">
                    100
                </span>
                <h6>Givenchy</h6>
                <h3>Eau de Parfum, L’interdit, 100 ml</h3>
                <button class="btn red">Retirer</button>
                <button class="btn green">Modifier</button>
            </div>
        </div>
    </div> 

    <div class="product">
        <div class="category">
            <h6>Catégorie</h6> 
            <h3>Parfum</h3>
            <a href="#">12X6YU19Z</a>
        </div>
        <div class="info">
            <div class="wrapper">
                <div class="progress">

                </div>
                <span class="quantity">
                    100
                </span>
                <h6>Givenchy</h6>
                <h3>Eau de Parfum, L’interdit, 100 ml</h3>
                <button class="btn red">Retirer</button>
                <button class="btn green">Modifier</button>
            </div>
        </div>
    </div> 
</div>