<div *ngIf="products.length > 0" class="container">
    <div *ngFor="let product of products" class="product">
        <div class="category">
            <h6>Catégorie</h6> 
            <h3>Maquillage</h3>
            <a href="#">{{product.productCode}}</a>
        </div>
        <div class="info">
            <div class="wrapper">
                <div class="progress">

                </div>
                <span class="quantity">
                    {{product.quantity}}
                </span>
                <h6>{{product.brand}}</h6>
                <h3>{{product.name}}l</h3>
                <button class="btn red" (click)="deleteProduct(product._id)">Retirer</button>
                <button class="btn green">Modifier</button>
            </div>
        </div>
    </div> 
</div>